<span class="help is-info"  *ngIf="isLoading">Loading...</span>
<div class="row">
  <div class="panel panel-primary filterable col-md-6">
    <div class="panel-heading">
      <h3 class="panel-title">PlaylistCRUD</h3>
    </div>
    <table class="table" id="table_box" *ngIf="!isLoading">
      <thead>
      <tr>
        <th>Исполнитель</th>
        <th>Название песни</th>
        <th>Жанр</th>
        <th>Год</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let singer of singers">
        <td>{{ singer.name_singer }}</td>
        <td>{{ singer.name_song }}</td>
        <td>{{ singer.genres_song }}</td>
        <td>{{ singer.year_song }}</td>
      </tr>
      </tbody>
    </table>
    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="cd-filter">
      <form>
        <div class="cd-filter-block">
          <h4>Исполнители</h4>
          <div class="cd-filter-content">
            <div class="cd-select cd-filters">
              <select class="filter" name="selectThis" id="selectThis1">
                <option *ngFor="let s of singers" (click)="orderName(name.value)" #name value="{{s.name_singer}}">{{s.name_singer}}</option>
              </select>
            </div> <!-- cd-select -->
          </div> <!-- cd-filter-content -->
        </div> <!-- cd-filter-block -->
        <div class="cd-filter-block">
          <h4>Жанр</h4>

          <div class="cd-filter-content">
            <div class="cd-select cd-filters">
              <select class="filter" name="selectThis" id="selectThis2">
                <option (click)="orderGenres(genres.value)" #genres value="Pop">Pop</option>
                <option (click)="orderGenres(genres.value)" #genres value="Dance music">Dance music</option>
                <option (click)="orderGenres(genres.value)" #genres value="House">House</option>
                <option (click)="orderGenres(genres.value)" #genres value="Rock">Rock</option>
                <option (click)="orderGenres(genres.value)" #genres value="Rhythm-n-blues">Rhythm-n-blues</option>
                <option (click)="orderGenres(genres.value)" #genres value="Dance">Dance</option>
              </select>
            </div> <!-- cd-select -->
          </div>
        </div> <!-- cd-filter-block -->

        <div class="cd-filter-block">
          <h4>Год</h4>
          <div class="cd-filter-content">
            <div class="cd-select cd-filters">
              <select class="filter" name="selectThis" id="selectThis3">
                <option *ngFor="let year of years" (click)="orderYear(year1.value)" #year1 value="year.name_year">{{ year.name_year }}</option>
              </select>
            </div> <!-- cd-select -->
          </div> <!-- cd-filter-content -->
        </div> <!-- cd-filter-block -->
      </form>
  </div>
</div>
