<div>
    <span class="help is-info"  *ngIf="isLoading">Loading...</span>
    <table class="table" *ngIf="!isLoading">
        <thead>
            <tr>
                <th>Исполнитель</th>
                <th>Песня</th>
                <th>Жанр</th>
                <th>Год</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let singer of singers">
                <td>{{ singer.name_singer }}</td>
                <td>{{ singer.name_song }}</td>
                <td>{{ singer.genres_song }}</td>
                <td>{{ singer.year_song }}</td>
            </tr>
        </tbody>
    </table>
</div>
