<span class="help is-danger">{{ errors }}</span>

<form>
  <div class="form-group">
      <label>Исполнитель</label>
      <input type="text" [(ngModel)]="singer.name_singer" name="name_singer" placeholder="Введите исполнителя" class="form-control">
  </div>
  <div class="form-group">
      <label>Название песни</label>
      <input type="text" [(ngModel)]="singer.name_song" name="name_song" placeholder="Введите название песни" class="form-control">
  </div>
  <div class="form-group">
    <label>Жанр</label>
    <input type="text" [(ngModel)]="singer.genres_song" name="genres_song" placeholder="Введите жанр песни" class="form-control">
  </div>
  <div class="form-group">
    <label>Год</label>
    <input type="text" [(ngModel)]="singer.year_song" name="year_song" placeholder="Введите год песни" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary" (click)="addPlaylist()">Submit</button>
</form>
